.card {
  border-width: 2px;
  border-color: rgb(0, 128, 109);
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 500px;
  height: 300px;
}

.UserProfile-container {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;

}

.input {
  padding: .25rem;
}